*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.masonry {
  position: relative;
}

.masonry__item {
  list-style-type: none;
  position: absolute;
  transition: .3s;
}

.masonry__image{
  width: 100%;
  display: block;
  box-shadow: 0 0 8px 0;
}
